body {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    padding: 0;
    margin: 0;
}
#login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.card-header{
    padding-bottom:50px;
    opacity: 0.8;
    color: #100b53;
}
.card-header::after {
    width: 70px;
    height: 1px;
    background-color: #cf8282;
    display: block;
    margin-top: -17px;
    margin-left: -5px;
}
.card-content label{
    color: #c26464;
    font-size: 12px;
    opacity: 0.8;
}
.card-content-area {
display: flex;
flex-direction: column;
padding: 10px 0;
}
.card-content-area input {
    margin-top: 10px;
    padding:0 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #272323;
    outline: none;
    color: #0a043b;
}
